<div class="container">


    <app-title [title]="title"></app-title>


    <div class="row">
        <div class="col-md-12">
            <p class="text-right">
                <button (click)="prevItem()" class=" btn btn-sm btn-outline-primary mr-2">Anterior</button>
                <button (click)="nextItem()" class=" btn btn-sm btn-outline-primary">Próximo</button>
            </p>
            <p class="text-right mb-2">exibindo: {{cont+1}} de {{qntdItens}}</p>
        </div>
    </div>


    <form *ngFor="let item of pedidos; let i=index ">
        <div class="row" *ngIf="i==cont">
            <div class="form-group col-md-12 ">
                <label>Cliente</label>
                <input type="text " class="form-control" disabled value="{{item.Cliente}} " maxlength="100 " required>
            </div>
            <div class="form-group col-md-4 ">
                <label>Pedido</label>
                <input type="number " class="form-control" disabled value="{{item.Pedido}} " maxlength="9 " required>
            </div>
            <div class="form-group col-md-4 ">
                <label>Data</label>
                <input type="date " class="form-control" disabled value="{{item.Data}} " required>
            </div>
            <div class="form-group col-md-4 ">
                <label>Preço</label>
                <input type="number " class="form-control" disabled value="{{item.Total}} " required>
            </div>
        </div>
    </form>


    <table class="table table-hover ">

        <thead class="thead-dark ">
            <tr>
                <th scope="col ">Código</th>
                <th scope="col ">Produto</th>
                <th scope="col ">Quantidade</th>
                <th scope="col ">Valor</th>
                <th scope="col ">Opções</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let item of pedidos[cont].Produtos; ">
                <td scope="row ">{{item.Produto[0].Codigo}}</td>
                <td>{{item.Produto[0].Nome}}</td>
                <td>{{item.Produto[0].Quantidade}}</td>
                <td>{{item.Produto[0].Valor}}</td>
                <td><button (click)="updateItem(item.Produto[0])" class="btn btn-sm btn-warning">Editar</button></td>
            </tr>
        </tbody>

    </table>


    <hr>


    <h4>INSERIR NOVO PRODUTO NA LISTA!</h4>


    <form [formGroup]="pedidosForm" (submit)="insertItem()">
        <div class="row">
            <div class="form-group col-md-2">
                <label>Código</label>
                <input type="text" class="form-control" formControlName="Codigo" maxlength="8">
            </div>
            <div class="form-group col-md-6">
                <label>Produto</label>
                <input type="text " class="form-control" formControlName="Nome" maxlength="100">
            </div>
            <div class="form-group col-md-2">
                <label>Quantidade</label>
                <input type="number " class="form-control" formControlName="Quantidade" maxlength="8">
            </div>
            <div class="form-group col-md-2">
                <label>Valor</label>
                <input type="number " class="form-control" formControlName="Valor">
            </div>

            <div class="form-group col-md-12">
                <button class=" btn btn-success mr-2" [disabled]="!pedidosForm.valid">Inserir/Editar</button>
                <button type="reset" class=" btn btn-primary mr-2" (click)="cleanItem()">Limpar Dados</button>
                <button type="reset" class=" btn btn-outline-primary" (click)="saveJson()">Gerar Arquivo Json</button>
            </div>

        </div>
    </form>


</div>