@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
h1 {
    font-size: 28px;
    color: green;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    margin: 40px auto;
}